.container_perfil{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.container_perfil h2{
    font-size: 35px;
}
.header_perfil{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}
.header_perfil div{
    min-width: 50px;
}
form{
    margin-top: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form div{
    width: 100%;
    display: flex;
    justify-content: center;
}
form div mat-form-field{
    width: 50%;
}

.botoes_acao{
    display: flex;
}
.botao_acao {
    height: 60px;
    color: white !important;
    margin: 5px;
}
.botao_acao:disabled{
    background-color: rgb(206, 206, 206) !important;
}
.botao_salvar{
    background-color: var(--cor-salvar) !important;
    width: calc(50% - 5px);    
}